<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="accountName" value="codesocketstore"/>
    <add key="accountKey" value="tYpIt2qHibcrdKT/rAUPZUN1W/IRQSKv73f4Y3qGxMyQQlgXeGSlEsSJQvekq9unGhWvjs3ul95Xm3c/i5/IKA=="/>
    <add key="clientId" value="89d79e0f-b3e2-4fcf-bdfb-4c2dbc9ebb66"/>
    <add key="clientSecret" value="0glI2d4426xBATLJNehcDev5UM33L+/HI92Yx7BssLc="/>
    <add key="container" value="codesocket-blob-container"/>
  </appSettings>
</configuration>